#table_container { 
  margin: 50px auto; 
  font-family: Calibri, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 95%;
  background-color: white;
}

th {
  background-color: #1976b2;
  color: white;
  padding: 10px;
  text-align: center;
}

td {
  padding: 8px;
}

.col_number,
.col_checkbox {
  text-align: center;
  width: 60px;
}

.col_text {
  text-align: left;
  margin: 10;
}

table, th, td {
  border: 1px solid #cccccc;
}

#addRowBtn,
#consoleBtn {
  align-self: flex-start; 
}