#table_container { 
  margin: 50px auto; 
  font-family: Calibri, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

th {
  background-color: #1976b2;
  color: white;
  padding: 10px;
  text-align: center;
}

td {
  padding: 8px;
}

.col_number,
.col_checkbox {
  text-align: center;
  width: 60px;
}

.col_text {
  text-align: left;
  margin: 10;
}

table, th, td {
  border: 1px solid #cccccc;
}

#addRowBtn,
#consoleBtn {
  align-self: flex-start;
  margin: 10px 15px;
}

/* ---- Summary ---- */
#container_summary {
  width: 100%;                    
  display: flex;
  justify-content: space-between;  
  align-items: center;
  background-color: #f7f7f7;      
  padding: 10px 15px;
  margin-top: 5px;  
  border: 1px solid #cccccc; 
}
#container_summary p {
  margin: 0;
}


/* ---- Form ---- */
#form_container {
  margin-top: 20px;
  width: 100%;
  background-color: white;
  border: 1px solid #cccccc; 
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  gap: 55px;
}

.form_group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.form_label {
  width: 10%;
  font-weight: bold;
}

.form_field {
  width: 50%; 
  padding: 4px;
  border: 1px solid #cccccc;
  font-size: 14px;
}
